<footer>
  <small>
  <ul class="company">
    <li>2020 © Libre Space Foundation</li>
  </ul>

    <ul class="footer-nav">

      <li><a href="https://gitlab.com/librespacefoundation/tools-libre-space">Source</a></li>
    </ul>
  </small>
</footer>
