
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{ url_for('public.home') }}">
     Libre Space Tools 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% set navigation_bar = [
    ('/tle_parser/', 'tle_parser', 'TLE parser'),
] -%}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" id="navigation">
      {% for href, id, caption in navigation_bar %}
        <li class="nav-item {% if id == active_page %}active{% endif%}">
          <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
