
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Libre Space Tools</h1>
    
      <p>This is a collation of various small tools and helpers for space operations, by Libre Space Foundation (LSF)</p>
      <p><a href="https://libre.space" class="btn btn-primary btn-large">Learn more about LSF&raquo;</a></p>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Tool 1</h2>
      <p>Nice useful tools 1.</p>
      <p><a class="btn btn-outline-secondary" href="#">Use it &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Tool 2</h2>
      <p>Nice useful tools 2.</p>
      <p><a class="btn btn-outline-secondary" href="#">Use it &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Tool 3</h2>
      <p>Nice useful tools 3.</p>
      <p><a class="btn btn-outline-secondary" href="#">Use it &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

